@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    animation: gradientAnimation 10s ease infinite;
    background: linear-gradient(120deg, #f64f59, #c471ed, #12c2e9);
    background-size: 600% 100%;
    color: black;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

header {
  background-color: #007BFF;
  color: #fff;
  text-align: center;
  padding: 20px;
  /* background-image: url('path/to/header-background-image.jpg'); */
  background-size: cover;
}

header h1 {
  margin: 0;
  font-family: "Arial", sans-serif;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", Arial, sans-serif;
}

section {
  margin-bottom: 30px;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 20px;
}

h2 {
  font-size: 28px;
  color: #007BFF;
  margin-bottom: 15px;
  font-family: "Montserrat", Arial, sans-serif;
  position: relative;
  padding-left: 40px;
}

h2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #ffc107;
  clip-path: polygon(50% 0%, 0% 50%, 50% 100%, 100% 50%);
}

p {
  font-size: 16px;
  margin-bottom: 15px;
}

ul {
  padding-left: 20px;
  list-style-type: disc;
  margin-bottom: 15px;
}

a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Previous CSS code remains the same */

.contact {
  border-top: 2px solid #007BFF;
  padding-top: 20px;
}

.contact h2 {
  font-size: 28px;
  color: #007BFF;
  margin-bottom: 15px;
  font-family: "Montserrat", Arial, sans-serif;
}

.contact p {
  font-size: 16px;
  margin-bottom: 15px;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #007BFF;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #0056b3;
}